
    body {
        background-color: hsl(30, 38%, 92%);
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
    }
    .wrapper {
        margin: 7rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper .desktop {
        margin-top: 1%;
        border-radius: 20px 0px 0px 20px;
      }
    .mobile {
        display: none;
    }
    .box {
        width: 200px;
        height: 375px;
        padding: 0 2%;
        border-radius: 0px 20px 20px 0px;
        border: none;
        background: hsl(0, 0%, 100%);
    }
    div h4 {
        color: hsl(228, 12%, 48%);
        letter-spacing: 0.4em;
        font-weight: 100;
        font-size: inherit;
        font-optical-sizing: auto;
        font-style: normal;
    }
    div h3 {
        font-weight: 700;
        font-size: 27px;
    }
    div p {
        width: 97%;
        max-width: 900px;
        margin-top: 0;
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        font-optical-sizing: auto;
        font-style: normal;
    }
    .money {
        color: hsl(158, 36%, 37%);
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }
    .money1 {
        font-size: 12px;
        position: relative;
        left: 6px;
        bottom: 6px;
        text-decoration: line-through;
    }
    .cart {
        padding: 6%;
        border-radius: 10px;
        background: hsl(158, 36%, 37%) url("/images/icon-cart.svg") no-repeat 20%;
        display: flex;
        color: hsl(0, 0%, 100%);
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 5%;
        }

    /* medium screen */
    @media screen and (max-width: 760px) {
        body {
            margin: 5rem;
        }        
        .wrapper {
            display: block;
        }
        .wrapper .mobile {
            display: block;
            min-width: 328px;
            width: 90%;
            border-radius: 20px 20px 0px 0px;
        }
        .wrapper .desktop {
            display: none;
        }
        .box {
            min-width: 259px;
            width: 70%;
            padding: 2% 10%;
            border-radius: 0px 0px 20px 20px;
            border: none;
            background: hsl(0, 0%, 100%);
        }
    }

    /* smaller screen */
    @media screen and (max-width: 480px) {
        body {
            margin: 0 2rem;
        }
        .box {
            min-width: 265px;
        }
    }
    
